html, body {
	background-color: rgb(246, 245, 237);
	color: rgb(57, 57, 57);
}

body {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	font-family: Cambria, Georgia, "Times New Roman", serif;
	font-size: 90%;
}

::selection {
	background: rgb(86, 141, 171);
	color: rgb(255, 255, 255);
	-webkit-text-shadow: none !important;
	text-shadow: none !important;
}

header, section, nav, footer { 
	display: block;
	margin: 0; 
	padding: 0; 
}

/* Links */
a:link, a:active, a:visited {
	color: rgb(57, 57, 57);
	text-decoration: underline;
}
a:hover, a:focus {
	color: rgb(57, 57, 57);
}

header h1 { 
	font-family: Lobster, Calibri, Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin: 1em 0;
	padding: 0;
	text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
	text-align: center;
	font-size: 2.4em;
}
section header h1 { 
	font-size: 1.8em;
	margin-top: 0;
}
h2 {
	font-size: 1.2em;
	font-weight: bold;
}

section {
	float: left;
	margin: 0 10px;
	padding: 0;
	line-height: 1.8;
}
section#about {
	width: 300px;
	text-align: justify;
}
section#demos {
	width: 601px;
	margin-left: 14px;
	padding-left: 14px;
	border-left: 1px dotted #B5B4A5;
}
section#demos img {
	background-image: url(bg-squares.png);
	border: solid 8px #E0DFD4;
}

#html5 {
	text-align: center;
}

code {
	font-family: Consolas, 'Courier New', monospace;
	background-color: #E6E5DD;
	color: #1E1E1C;
	text-shadow: rgba(255, 255, 255, 0.5) -1px -1px 1px;
	padding: 1px 3px;
	margin: 0 2px;
}
pre {
    background-color: #292927;
	border: solid 8px #E0DFD4;
	
	padding: 8px;
	margin: 1em 0;
	color: #C0E6F9;
	
	line-height: 130%;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}
pre code {
	background-color: transparent;
	color: #C0E6F9;
	margin: 0;
	padding: 0;
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

strong {
	background-color: #C2DEEC;
	padding: 2px 3px;
	border: 1px dotted #5692B4;
}

footer {
	clear: both;
	text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
	text-align: right;
}

footer {
	font-size: 0.9em;
	width: 960px;
	padding: 0.5em 0;
}
footer .separator { margin: 0 0.4em; }
footer .twitter-share-button {
	margin-bottom: -5px;
}